/* Hero Banner / Jumbotron */
.nav-link {
  font-weight: bold;
}
.hero-banner-content {
  display: inline-flex;
  position: relative;
  width: 100%;
}

#profile-image {
  border-radius: 10%;
  max-width: 10%;
  max-height: 20%;
}

#hero-banner-info {
  text-align: right;
  padding-right: 2%;
  width: 100%;
}

#hero-banner-quote p {
  position: relative;
  text-align: left;
}

/* Portfolio Container */
.page-section {
  margin-bottom: 50px;
}

.page-wrapper {
  margin-top: 50px;
  margin-right: 50px;
}

/* Work */
#work {
  display: flex;
}

#work-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#work-content {
  border-left: #32343d solid;
  padding-left: 2%;
  width: 80%;
  gap: 10px;
  row-gap: 10px;
  column-gap: 20px;
}
.btn-secondary {
  box-shadow: 1px 2px 8px #271d7e;
}

.box {
  transition: box-shadow .3s;
  width: 40%;
  height: 20%;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #46484a;
  float: left;

}
.box:hover {
  box-shadow: 0 0 11px rgba(150, 89, 89, 0.518);
}
/* Skills */
#skills {
  display: flex;
}

#skills-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#skills-list {
  border-left: #32343d solid;
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
}

#skills-list li {
  display: inline-block;
  margin-right: 20px;
}

#skills-list {
  color: var(--graphite);
  text-decoration-thickness: 0.2em;
  display: flex;
  justify-content: space-around;
}
/* About Me */
#about {
  display: flex;
}

#about-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#about-section {
  border-left: #32343d solid;
  padding-left: 2%;
  width: 80%;
}

/* Footer */
footer {
  background-color: #212529;
}

.nav-item li{
  color: yellow;
}